body {
	font-family: 'Roboto', sans-serif;
}

header {
	position: absolute;
	left: 0;
	right: 0;
	background-color: orange;
}

main {
	padding-top: 100px;
}

.head {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.picture {
	width: 100%;
}

.content-bar-1 {
	border: 1px solid black;
	margin-top: 20px;
}

.content-bar-2 {
	border: 1px solid black;
	margin-top: 20px;
}

.info {
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}